<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mf.mapper.PayInOrderMapper" >
  <resultMap id="BaseResultMap" type="mf.pojo.PayInOrder" >
    <id column="pay_in_order_id" property="payInOrderId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="pay_vendor_id" property="payVendorId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="rmake" property="rmake" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pay_in_order_id, user_id, pay_vendor_id, amount, STATUS, ctime, rmake
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mf.pojo.PayInOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pay_in_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pay_in_order
    where pay_in_order_id = #{payInOrderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pay_in_order
    where pay_in_order_id = #{payInOrderId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="mf.pojo.PayInOrderExample" >
    delete from pay_in_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mf.pojo.PayInOrder" >
    insert into pay_in_order (pay_in_order_id, user_id, pay_vendor_id, 
      amount, STATUS, ctime, 
      rmake)
    values (#{payInOrderId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{payVendorId,jdbcType=BIGINT}, 
      #{amount,jdbcType=DOUBLE}, #{status,jdbcType=TINYINT}, #{ctime,jdbcType=TIMESTAMP}, 
      #{rmake,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mf.pojo.PayInOrder" >
    insert into pay_in_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payInOrderId != null" >
        pay_in_order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="payVendorId != null" >
        pay_vendor_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="rmake != null" >
        rmake,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payInOrderId != null" >
        #{payInOrderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="payVendorId != null" >
        #{payVendorId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="rmake != null" >
        #{rmake,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mf.pojo.PayInOrderExample" resultType="java.lang.Integer" >
    select count(*) from pay_in_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pay_in_order
    <set >
      <if test="record.payInOrderId != null" >
        pay_in_order_id = #{record.payInOrderId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.payVendorId != null" >
        pay_vendor_id = #{record.payVendorId,jdbcType=BIGINT},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.ctime != null" >
        ctime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rmake != null" >
        rmake = #{record.rmake,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pay_in_order
    set pay_in_order_id = #{record.payInOrderId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      pay_vendor_id = #{record.payVendorId,jdbcType=BIGINT},
      amount = #{record.amount,jdbcType=DOUBLE},
      STATUS = #{record.status,jdbcType=TINYINT},
      ctime = #{record.ctime,jdbcType=TIMESTAMP},
      rmake = #{record.rmake,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mf.pojo.PayInOrder" >
    update pay_in_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="payVendorId != null" >
        pay_vendor_id = #{payVendorId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="rmake != null" >
        rmake = #{rmake,jdbcType=VARCHAR},
      </if>
    </set>
    where pay_in_order_id = #{payInOrderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="mf.pojo.PayInOrder" >
    update pay_in_order
    set user_id = #{userId,jdbcType=BIGINT},
      pay_vendor_id = #{payVendorId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DOUBLE},
      STATUS = #{status,jdbcType=TINYINT},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      rmake = #{rmake,jdbcType=VARCHAR}
    where pay_in_order_id = #{payInOrderId,jdbcType=BIGINT}
  </update>
</mapper>