<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mf.mapper.WorksListMapper" >
  <resultMap id="BaseResultMap" type="mf.pojo.WorksList" >
    <id column="works_id" property="worksId" jdbcType="BIGINT" />
    <result column="designer_id" property="designerId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="ImgUrl" property="imgurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    works_id, designer_id, name, creat_time, ImgUrl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mf.pojo.WorksListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from works_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from works_list
    where works_id = #{worksId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from works_list
    where works_id = #{worksId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="mf.pojo.WorksListExample" >
    delete from works_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mf.pojo.WorksList" >
    insert into works_list (works_id, designer_id, name, 
      creat_time, ImgUrl)
    values (#{worksId,jdbcType=BIGINT}, #{designerId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{imgurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mf.pojo.WorksList" >
    insert into works_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="worksId != null" >
        works_id,
      </if>
      <if test="designerId != null" >
        designer_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
      <if test="imgurl != null" >
        ImgUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="worksId != null" >
        #{worksId,jdbcType=BIGINT},
      </if>
      <if test="designerId != null" >
        #{designerId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mf.pojo.WorksListExample" resultType="java.lang.Integer" >
    select count(*) from works_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update works_list
    <set >
      <if test="record.worksId != null" >
        works_id = #{record.worksId,jdbcType=BIGINT},
      </if>
      <if test="record.designerId != null" >
        designer_id = #{record.designerId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.creatTime != null" >
        creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.imgurl != null" >
        ImgUrl = #{record.imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update works_list
    set works_id = #{record.worksId,jdbcType=BIGINT},
      designer_id = #{record.designerId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      ImgUrl = #{record.imgurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mf.pojo.WorksList" >
    update works_list
    <set >
      <if test="designerId != null" >
        designer_id = #{designerId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgurl != null" >
        ImgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where works_id = #{worksId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="mf.pojo.WorksList" >
    update works_list
    set designer_id = #{designerId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      ImgUrl = #{imgurl,jdbcType=VARCHAR}
    where works_id = #{worksId,jdbcType=BIGINT}
  </update>
</mapper>